<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flutter Gallery</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>af</string>
		<string>am</string>
		<string>ar_EG</string>
		<string>ar_JO</string>
		<string>ar_MA</string>
		<string>ar_SA</string>
		<string>ar_XB</string>
		<string>ar</string>
		<string>as</string>
		<string>az</string>
		<string>be</string>
		<string>bg</string>
		<string>bn</string>
		<string>bs</string>
		<string>ca</string>
		<string>cs</string>
		<string>da</string>
		<string>de_AT</string>
		<string>de_CH</string>
		<string>de</string>
		<string>el</string>
		<string>en_AU</string>
		<string>en_CA</string>
		<string>en_GB</string>
		<string>en_IE</string>
		<string>en_IN</string>
		<string>en_NZ</string>
		<string>en_SG</string>
		<string>en_XA</string>
		<string>en_XC</string>
		<string>en_ZA</string>
		<string>es_419</string>
		<string>es_AR</string>
		<string>es_BO</string>
		<string>es_CL</string>
		<string>es_CO</string>
		<string>es_CR</string>
		<string>es_DO</string>
		<string>es_EC</string>
		<string>es_GT</string>
		<string>es_HN</string>
		<string>es_MX</string>
		<string>es_NI</string>
		<string>es_PA</string>
		<string>es_PE</string>
		<string>es_PR</string>
		<string>es_PY</string>
		<string>es_SV</string>
		<string>es_US</string>
		<string>es_UY</string>
		<string>es_VE</string>
		<string>es</string>
		<string>et</string>
		<string>eu</string>
		<string>fa</string>
		<string>fi</string>
		<string>fil</string>
		<string>fr_CA</string>
		<string>fr_CH</string>
		<string>fr</string>
		<string>gl</string>
		<string>gsw</string>
		<string>gu</string>
		<string>he</string>
		<string>hi</string>
		<string>hr</string>
		<string>hu</string>
		<string>hy</string>
		<string>id</string>
		<string>in</string>
		<string>is</string>
		<string>it</string>
		<string>iw</string>
		<string>ja</string>
		<string>ka</string>
		<string>kk</string>
		<string>km</string>
		<string>kn</string>
		<string>ko</string>
		<string>ky</string>
		<string>ln</string>
		<string>lo</string>
		<string>lt</string>
		<string>lv</string>
		<string>mk</string>
		<string>ml</string>
		<string>mn</string>
		<string>mo</string>
		<string>mr</string>
		<string>ms</string>
		<string>my</string>
		<string>nb</string>
		<string>ne</string>
		<string>nl</string>
		<string>no</string>
		<string>or</string>
		<string>pa</string>
		<string>pl</string>
		<string>pt_BR</string>
		<string>pt_PT</string>
		<string>pt</string>
		<string>ro</string>
		<string>ru</string>
		<string>si</string>
		<string>sk</string>
		<string>sl</string>
		<string>sq</string>
		<string>sr_Latn</string>
		<string>sr</string>
		<string>sv</string>
		<string>sw</string>
		<string>ta</string>
		<string>te</string>
		<string>th</string>
		<string>tl</string>
		<string>tr</string>
		<string>uk</string>
		<string>ur</string>
		<string>uz</string>
		<string>vi</string>
		<string>zh_CN</string>
		<string>zh_HK</string>
		<string>zh_TW</string>
		<string>zh</string>
		<string>zu</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
