<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNEtAHdjm3oFV6JZ6nbx5t6Pfyj4w4hbo</string>
	<key>GCM_SENDER_ID</key>
	<string>44885228795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geminiIoTalk</string>
	<key>PROJECT_ID</key>
	<string>gemini-cat-chef</string>
	<key>STORAGE_BUCKET</key>
	<string>gemini-cat-chef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44885228795:ios:8ef52eb95f012a148f845e</string>
</dict>
</plist>