name: ng_companion
description: A flutter app with a counter that can be manipulated from JS.
publish_to: none
version: 1.0.0

environment:
  sdk: ^3.4.0-0
  flutter: ">=3.22.0-0"

dependencies:
  flutter:
    sdk: flutter
  web: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
