name: Deploy to GitHub Pages

# Declare default permissions as read only.
permissions: read-all

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: github.repository == 'flutter/samples'

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          submodules: true
          fetch-depth: 0

      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1

      - name: Init scripts
        run: dart pub get
        working-directory: web/_tool

      - name: Build
        run: dart run _tool/build_ci.dart
        working-directory: web

      - name: Deploy
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: web/samples_index/public
